{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>
      Citations
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800' rel='stylesheet' type='text/css'>
  </head>
  <body class="bg-grey-lighter">
    <div class="container mx-auto">
      {% block "body" %} {% endblock %}
    </div>
  </body>
</html>